/*
    Created on : 21 févr. 2018, 18:31:44
    Author     : Mayron
*/

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu-nav-bar {
    z-index:3;
    width:240px;
    height: 100%;
}

.nav-size {
    margin-left: 240px;
}

.color-background {
    background-color: white;
}

.color-menu {
    background-color: red;
    color: white;
}

.text-color {
    color: black;
}

div {
    display:block;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

hr {
    border:1px teal dashed;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif
}

.repBoxes {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: normal;
}

p {
    margin: 4px;
}

#error {
    color: red;
}
