/*
    Created on : 21 févr. 2018, 18:31:44
    Author     : Mayron
*/

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-width {
    max-width:100%;
}

.img-width {
    width: 45%;
}

.header-margin {
    margin-bottom:32px;
}

.menu-nav-bar {
    z-index:3;
    width:240px;
    height: 100%;
}

.nav-size {
    margin-left: 240px;
}

.color-background { 
    background-color: white;
}

.color-box 
{
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color:white;
}

.blur:before
{
    width: 100%;
    background-color: white;
    filter: blur(5px);
}

.color-menu {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
background: rgb(37,141,200); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:white;
}

.text-color {
    color: black;
}

div {
    display:block;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

hr {
    border:1px black;
}

body,h1,h2,h3,h4,h5,h6 {
   font-family: 'Oswald', sans-serif;
}

h1{
    text-transform: uppercase;
    font-size: 100px;
}

h2{
    text-transform: uppercase;
    font-size: 40px;
}

h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.repBoxes {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: normal;
}

p {
    margin: 4px;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;

    /*font-family: 'Lato', sans-serif;*/
}

a {
      font-size: 1.2em;
      font-family: 'Raleway', sans-serif;
}

a:hover
{
    background-color: yellow;
}

.btnParticipate {
    background-color: white;
    /*background-color: #008CBA; Blue */
    font-size: 0.9em;
    vertical-align:middle;
    color: black;
}

#error {
    color: red;
}
